html

	head
	<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Muli">
	link(rel='stylesheet', href='/css/homepage.css')

body

	div(id="name")
		<label for="namer">Name</label>
		input(
			type="text"
			class="form"
			id="namer"
		)

		|#[br]
		<label for="tags">Tags</label>
		input(
			type="text"
			id="tags"
			class="form"
		)
		|#[br]

		select(form='addProperty', class="form",id="category")
			each val in questions
				option(value=val) #{val}
		select(form='addProperty',class="form",id="difficulty")
			each val in difficulty
				option(value=val) #{val}

	#QuestionsAv
		p
		|Questions Available
	div(id="availableq")

	#QinQuiz
		p
		|Questions in Quiz#[br]
	div(id="questionsinquiz")
	|#[br]

	#savebutton
		button(type="button", class="button", id="save") save

	include ../partials/footer



script(src="/clientfile")
